# Python was created by Guido van Rossum and first released in 1991

# Feature of python

1. Readability
2. Simplicity
3. Versatility
4. Cross-platform compatibility

# Applications of Python

* Web Development: Python frameworks like Django and Flask have gained popularity for developing web applications, Python's simplicity and extensive libraries make it an idea choice for building robust and scalable web solutions.

* Data Analysis and Visualisation: Python provides powerful libraries such as NumPy Pandas, and Matplotlib, which enable efficient data analysis, manipulation, and visualisation

*  Artificial Intelligence and Machine Learning: Python offers comprehensive libraries like TensorFlow, PyTorch, and scikit-learn, which facilitate the development of machine learning and deep learning models

* Scientific Computing: Python, along with libraries like SciPy and NumPy, provides a robust platform for scientific computing, numerical simulations, and mathematical modelling

In [1]:
a = 5
b = 3 
sum = a + b
print("The sum is:", sum)

The sum is: 8

In [2]:
class Car:
    def __init__(self, make, model): 
        self.make = make
        self.model = model
    def start_engine(self):
        print("The", self.make, self.model, "is starting.")
Car = Car("Tesla", "Model 3")
Car.start_engine()

The Tesla Model 3 is starting.

# Data frame

In [4]:
import pandas as pd
data = {
    'Name': ['John', 'Emily', 'Michael'],
    'Age': [25, 30, 28],
    'City': ['London', 'Manchester', 'Birmingham']
}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0     John   25      London
1    Emily   30  Manchester
2  Michael   28  Birmingham

In [6]:
print("Hello WOrld")

Hello WOrld

* Variable names must start with a letter (a-z or A-2) or an underscore (.). They cannot begin with a number.)

* Variable names can consist of letters, numbers, and underscores. They are case-sensitive, meaning that "myVar" and "myvar" are considered different variables.

* It is good practice to use descriptive names that reflect the purpose or meaning of the variable. For example, "name," "age," or "total score" are more meaningful than generic names like "x" or "y."
  
* Avoid using reserved keywords as variable names. Reserved keywords are words that have special meanings in Python and cannot be used as variable names. Examples of reserved keywords include "if," "for," "while," and "print."

In [8]:
# Code Blocks and Nested Block

In [7]:
def greet(name):
    # Outer code block
    print("Hello, "+ name + "!")
    if name == "Alice":
        # Nested code block 
        print("You are amazing, " + name + "!")
    else:
        # Another nested code block
        print("Nice to meet you, " + name + "!")
    # Code outside the if-else block 
    print("Have a great day, " + name + "!")
# Function call
greet("Rohit")

Hello, Rohit!
Nice to meet you, Rohit!
Have a great day, Rohit!

# Conditional Statement and Loops

In [19]:
# Conditional statements

In [9]:
age = 25
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

# Strings

In [11]:
# Concatenation 
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name 
print(full_name)
# String Slicing 
print(full_name[3:7])
# String formating 
age = 34 
print("I am {} years old".format(age))

John Doe
n Do
I am 34 years old

# Tuple

In [15]:
# Creating a tuple 
coordinates = (3, 4)
# Accesssing elements
x = coordinates[0]
y = coordinates[1]
print("x =", x)
print("y =", y)

x = 3
y = 4

# Sets

In [16]:
# Creating a set
fruits = {"apple", "banana", "orange"}
# Adding elements
fruits.add("grape")
print(fruits)
# Removing elements 
fruits.remove("banana")
print(fruits)

{'grape', 'apple', 'orange', 'banana'}
{'grape', 'apple', 'orange'}

# Dictionary

In [18]:
# Creating a dictionary
person = {
    "name" : "John Doe",
    "age" : 25, 
    "city" : "London"
}
# Accessing values
print(person["name"])
print(person.get("age"))
print(person["city"])
# Modifying values
person["age"] = 30
print(person)

John Doe
25
London
{'name': 'John Doe', 'age': 30, 'city': 'London'}

* Contionals

1. If Else statement

In [1]:
age = 18
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

2. Nested if-else statement

In [5]:
num = 10
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

3. Multiple conditions with Logical Operator (and,or, not)

In [8]:
# if both the conditions are true then only it will execute 
age = 25
citizenship = "UK"
if age >= 18 and citizenship == "UK":
    print("You are eligible to vote in the UK.")
else:
    print("YOu are not eligible to vote in the UK.")

You are eligible to vote in the UK.

*  Loops

1. we want to print each element of a list using a for loop

In [9]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
num = 1
while num <= 5:
    print(num)
    num += 1

1
2
3
4
5

* loop control statements:

1. break
2. continue

In [12]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        break
    print(fruit)

apple

In [13]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit)

apple
cherry

In [16]:
for num in range(1, 11):
    if num == 5:
        break
    if num % 2 == 0:
        continue
    print(num)

1
3

In [17]:
# we want to find the first even numbers in a list and exit the loop once we find it

numbers = [1, 3, 4, 5, 6, 7, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        print("Found the first even number:", num)
        break

Found the first even number: 4

In [18]:
# we want to print all the odd numbers in a given range, skipping any even numbers:

for num in range(1, 10):
    if num % 2 == 0:
        continue
    print("Odd number:", num)

Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

In [14]:
# Nested if-Else and Loops

In [15]:
x = 10
y = 5
if x > y:
    print("x is greater than y")
else:
    if x < y:
        print("x is less than y")
    else:
        print("x is equal to y")

x is greater than y

# Essential Python Data Structures

# Lists and List Operations

In [33]:
# Creating a list 
numbers = [10, 34, 23, 54, 56,"Aditya","Rohit","Anybody"]

# Accessing elements 
print(numbers[2])

# Modifying elements 
numbers[1] = 87
print(numbers)

# Adding elements
numbers.append(11) # append is used to add new value to the list at the end
print(numbers)

# Adding elements in a specific location
numbers.insert(1,"Gaurav") # if we want to add elements in a specific location then we use insert function,

# removing elements
numbers.remove(11)
print(numbers)

# removing values using pop
numbers.pop() # bydefault last value will be removed

# removing values using pop in a specific location
numbers.pop(6)

23
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody', 11]
[10, 'Gaurav', 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']

'Aditya'

In [35]:
# sort(): sorts the elements of the list in ascending order
fruits = ["apple", "banana", "cherry", "grape"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'grape']

In [25]:
# List Length : The built in len() function
fruits = ["apple", "banana", "cherry", "grape"]
print(len(fruits))

4

In [29]:
# List Concatenation
fruits1 = ["apple", "banana"]
fruits2 = ["cherry", "grape"]
all_fruits = fruits1 + fruits2
print(all_fruits)

['apple', 'banana', 'cherry', 'grape']

In [30]:
# List slicing : list_name[start:end]

fruits = ["apple", "banana", "cherry", "grape"]
slice = fruits[1:3]
print(slice)

['banana', 'cherry']

# Tuple

In [45]:
 # creating tuple
my_tuple = (1, 2, 3, 'a', 'b', 'c')
# accessing tuple elements
print(my_tuple[0])
print(my_tuple[3])
# Tuple Slicing
print(my_tuple[2:5])
# Tuple Concatenation
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)
# Tuple Unpacking
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a)
print(b)
print(c)
# Tuple Immutability
# Modifying a tuple (Error)
my_tuple = (10, 20, 30)
my_tuple[0] = 1 # Error : 'tuple' object does not support item assigment

1
a
(3, 'a', 'b')
(1, 2, 3, 'a', 'b', 'c')
10
20
30

TypeError: 'tuple' object does not support item assignment

# Sets

In [47]:
# Curly brackets and built in set() function

In [51]:
# Creating a set using curly breackets
fruits = {"apple", "banana", "cherry"}
print(fruits)
# Creating a set using a set() function
colors = set(['red', 'blue', 'green'])
print(colors)

{'apple', 'cherry', 'banana'}
{'red', 'green', 'blue'}

In [58]:
# Set Operations
# Creating two sets 
set1 = {1, 2, 3, 4, 5}
set2 = { 4, 5, 6, 7, 8}
# Union of two sets
union_set = set1.union(set2)
print(union_set)
# Intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)
# Difference between two sets
difference_set = set1.difference(set2)
print(difference_set)
# Checking if a set is a subset of another set
subset_check = set1.issubset(set2)
print(subset_check)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
False

In [60]:
# Modifying sets
# Creating a set
numbers = {1, 2, 3}
# Adding elements to a set
numbers.add(4)
print(numbers)
# Removing an element from a set
numbers.remove(2)
print(numbers)

{1, 2, 3, 4}
{1, 3, 4}

In [62]:
# Frozensets : is an immutable version of set

# Creating a frozenset
fs = frozenset([1, 2, 3])
print(fs)

frozenset({1, 2, 3})

In [63]:
# Set Comprehension

squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

In [65]:
# Example of Unique Usernames 

# Creating a set of unique usernames
usernames = set()
# Adding usernames to the set
usernames.add('John_doe')
usernames.add('jane_smith')
usernames.add('John_doe') # Duplicate, ignored
print(usernames)

{'jane_smith', 'John_doe'}

# Dictionaries

In [72]:
# Creating a dictionary

student = {
    'name' : 'Alice',
    'age' : 20,
    'major' : 'Computer Science'
}

# Accessing dictionary values
print(student['name'])
print(student['age'])
print(student['major'])

# Modifying Dictionry values 
student['age'] = 21
print(student['age'])

# Adding a new key-value pair
student['year'] = 3
print(student)

# Removing a key-value pair
del student['major']
print(student)

# Chekcing key Existence
if 'name' in student:
    print("Name exists in the dictionary")

Alice
20
Computer Science
21
{'name': 'Alice', 'age': 21, 'major': 'Computer Science', 'year': 3}
{'name': 'Alice', 'age': 21, 'year': 3}
Name exists in the dictionary

# Python Functions

In [79]:
# Function Defination
def greet():
    print("Hello, There!")

# Calling a Function
greet()

# Function Parameters
def greet(name):
    print("Hello, " + name + "!")
greet("Alice")

# Function Return Value 
def multiply(a, b):
    product = a * b
    return product
result = multiply(5, 3)
print(result)

# Example
def calculate_area(length, width):
    area = length * width
    return area
length = 5
width = 3
result = calculate_area(length, width)
print(result)

Hello, There!
Hello, Alice!
15
15

In [5]:
# Function Arguments : Python support different types of function arguments, including positional arguments, keyword arguments and default arguments.

# Positional Arguments : in the same order as the function defination

def greet(name, age):
    print("Hello, " + name + "! You are " + str(age) + " years old.")
greet("Alice", 25)

# Keyword arguments: regardless of their position

def greet(name, age):
    print("Hello, " + name + "! You are " + str(age) + " years old.")
greet(age=30, name="Bob")

# Default Arguments: defalult arguments are parameters that have a predefined value.

def greet(name, greeting="Hello"):
    print(greeting + ", " + name + "!")
greet("Alice")
greet("Bob", greeting="Hi")

Hello, Alice! You are 25 years old.
Hello, Bob! You are 30 years old.
Hello, Alice!
Hi, Bob!

In [6]:
# Function can return multiple values by separating them with commas.

def calculate(a, b):
    sum = a + b
    difference = a - b
    return sum, difference
result_sum, result_difference = calculate(10, 5)
print(result_sum)
print(result_difference)

15
5

In [13]:
# Example 

def calculate_rectangle_properties(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter
resultarea, resultperimeter = calculate_rectangle_properties(10, 5)
print(resultarea)
print(resultperimeter)

50
30

# Lambdas : Anonymous Functions

Lambdas, provide a concise way to define small, one-line functions without a formal function name, Useful in situations where a function is required for a short and specific purpose.

Syntax : 
lambda arguments: expression

lambda keyword is followed by a list of arguments which represets the inputs to the lambda.

In [17]:
# Example of lambda function that calculates the square of a number:

square = lambda x: x ** 2

# Using Lambdas:

In [27]:
# Sorting : Lambdas can be used as key functions in sorting operations to define custom sorting criteria

fruits = ['apple', 'banana', 'cherry', 'date']
sorted_fruits = sorted(fruits, key = lambda x: len(x)) # the lambda function 'lambda x: len(x)' is used as the key function to sort the list of fruits based on their lengths 
print(sorted_fruits)

# Filtering : Lambdas can be used in combination with built-in functions like 'filter()' to filter elements from a list based on specific conditions
#Example : filters even numbers from a list 

numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

# Mapping : Lambdas can be used with functions like 'map()' to apply a specific operation to each element of a list,
#Example : Doubles each number in a list 

numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

['date', 'apple', 'banana', 'cherry']
[2, 4, 6]
[2, 4, 6, 8, 10]

In [5]:
# Example : Consider a scenario where you have a list of students, and you need to sort them based on their names.

students = [
    {'name': 'Alice', 'age': 20},
    {'name': 'Bob', 'age': 19},
    {'name': 'Charlie', 'age': 21}
]
sorted_students = sorted(students, key=lambda x: x['name'])
print(sorted_students)

# in this example, lambda function 'lambda x: x['name'] is used as the key function to sort the list of students based on their names

[{'name': 'Alice', 'age': 20}, {'name': 'Bob', 'age': 19}, {'name': 'Charlie', 'age': 21}]

# Understanding Scope of Variables in Functions

The concept of variable scope defines the accessibility and lifespan of variables within a program

1. Local Scope : When a vairable is defined inside a function, it has local scope. This means that the variable is only accessible within the funtion where it is defiend.

In [7]:
# Ex

def my_function():
    x = 10
    print(x)
my_function()
print(x) # Error : NameError: name 'x' is not defined

# Local variables are created when the function is called and destroyed when the function completes execution. They are not accessible outside the funtion

10

NameError: name 'x' is not defined

2. Global Scope : Variables defined outside any function or block have global scope, meaning they can be accessed from anywhere in the program.

In [11]:
# Ex

x = 10
def my_function():
    print(x)
my_function()
print(x)

# Global vairables can be accessed and modified from any part of the program

10
10

In [12]:
# However, modifying global variables within a function requires explicitly decalring them as global using the 'global' keyword.

In [15]:
# Modifying Global Variables within a function
#Ex

x = 10
def modify_global():
    global x
    x = 20
modify_global()
print(x)

# It is generally considered good practice to minimize the use of global variables.

20

In [16]:
# Example : Consider a scenario where you have a global variable 'total' representing the total sales of a company. You want to calculate the bonus
# amount for each  employee based on their individual sales, while keeping track of the overall sales total.

total = 0
def calculate_bonus(sales):
    global total
    bonus = sales * 0.1
    total += sales # total = total + sales
    return bonus
employee1_sales = 5000
employee1_bonus = calculate_bonus(employee1_sales)
print("Employee 1 Bonus:", employee1_bonus)
print("Total Sales:", total)

Employee 1 Bonus: 500.0
Total Sales: 5000