In [1]:
a = 5
b = 3 
sum = a + b
print("The sum is:", sum)

The sum is: 8

In [2]:
class Car:
    def __init__(self, make, model): 
        self.make = make
        self.model = model
    def start_engine(self):
        print("The", self.make, self.model, "is starting.")
Car = Car("Tesla", "Model 3")
Car.start_engine()

The Tesla Model 3 is starting.

# Data frame

In [4]:
import pandas as pd
data = {
    'Name': ['John', 'Emily', 'Michael'],
    'Age': [25, 30, 28],
    'City': ['London', 'Manchester', 'Birmingham']
}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0     John   25      London
1    Emily   30  Manchester
2  Michael   28  Birmingham

In [6]:
print("Hello WOrld")

Hello WOrld

In [8]:
# Code Blocks and Nested Block

In [7]:
def greet(name):
    # Outer code block
    print("Hello, "+ name + "!")
    if name == "Alice":
        # Nested code block 
        print("You are amazing, " + name + "!")
    else:
        # Another nested code block
        print("Nice to meet you, " + name + "!")
    # Code outside the if-else block 
    print("Have a great day, " + name + "!")
# Function call
greet("Rohit")

Hello, Rohit!
Nice to meet you, Rohit!
Have a great day, Rohit!

In [10]:
# Conditional Statement

In [9]:
age = 25
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

# Strings

In [11]:
# Concatenation 
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name 
print(full_name)
# String Slicing 
print(full_name[3:7])
# String formating 
age = 34 
print("I am {} years old".format(age))

John Doe
n Do
I am 34 years old

# LIsts

In [13]:
# Creating a list 
numbers = [10, 34, 23, 54, 56,"Aditya","Rohit","Anybody"]

# Accessing elements 
print(numbers[2])

# Modifying elements 
numbers[1] = 87
print(numbers)

# Adding elements
numbers.append(11) # append is used to add new value to the list at the end
print(numbers)

# Adding elements in a specific location
numbers.insert(1,"Gaurav") # if we want to add elements in a specific location then we use insert function,

# removing elements
numbers.remove(11)
print(numbers)

# removing values using pop
numbers.pop() # bydefault last value will be removed

# removing values using pop in a specific location
numbers.pop(6)

23
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody', 11]
[10, 'Gaurav', 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']

'Aditya'

# Tuple

In [15]:
# Creating a tuple 
coordinates = (3, 4)
# Accesssing elements
x = coordinates[0]
y = coordinates[1]
print("x =", x)
print("y =", y)

x = 3
y = 4

# Sets

In [16]:
# Creating a set
fruits = {"apple", "banana", "orange"}
# Adding elements
fruits.add("grape")
print(fruits)
# Removing elements 
fruits.remove("banana")
print(fruits)

{'grape', 'apple', 'orange', 'banana'}
{'grape', 'apple', 'orange'}

# Dictionary

In [18]:
# Creating a dictionary
person = {
    "name" : "John Doe",
    "age" : 25, 
    "city" : "London"
}
# Accessing values
print(person["name"])
print(person.get("age"))
print(person["city"])
# Modifying values
person["age"] = 30
print(person)

John Doe
25
London
{'name': 'John Doe', 'age': 30, 'city': 'London'}