In [2]:
age = 34

In [3]:
print(age)

34

In [7]:
Name="Rohit"
Age=24
Weight=52.50
area_of_pincode=422008


print(Name)
print(Age)
print(Weight)
print(area_of_pincode)

Rohit
24
52
422008

# What is Juputer Notebook

1. The Jupyter Notebook is an open source web application tghat allows data scientists to creat and share documents that integrate live code, equations, computational output, visualiztions and other multimeida resouces.

2. Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visulatization, machine learning, and much more.

# Comment

comment is a piece of code which is ignored while executing the program. 

We use # to use a single line comment.

We use ''' any para ''' to use a multi line commnet, we use tripple single qotes.

# Lists

We can store any datatype in a list, We can store any number of values in a list

Lists are mutable. i.e we can change, delete and modify the items.

lists are written square brac : num = []

In [7]:
# Creating a list 
numbers = [10, 34, 23, 54, 56,"Aditya","Rohit","Anybody"]

# Accessing elements 
print(numbers[2])

# Modifying elements 
numbers[1] = 87
print(numbers)

# Adding elements
numbers.append(11) # append is used to add new value to the list at the end
print(numbers)

# Adding elements in a specific location
numbers.insert(1,"Gaurav") # if we want to add elements in a specific location then we use insert function,

# removing elements
numbers.remove(11)
print(numbers)

# removing values using pop
numbers.pop() # bydefault last value will be removed

# removing values using pop in a specific location
numbers.pop(6)

23
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']
[10, 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody', 11]
[10, 'Gaurav', 87, 23, 54, 56, 'Aditya', 'Rohit', 'Anybody']

'Aditya'

In [8]:
# using list in a for loop

intro = ["Aditya",34,True,3.5]
for item in intro:
    print(item)

Aditya
34
True
3.5

In [13]:
# get average of all the numbers in a list

lst = [3,5,4,2,11,678] # list is a variable lst 
total = 0
count = 0
for n in lst:
    total += n
    count += 1
print(total / count)

117.16666666666667

In [18]:
# String Formatting

age = int(input("Enter your age: "))
if age >= 18:
    print(f"Hey, you are {age} years old, you can vote!")
else:
    print(f"Come back after {18 - age} years, as of now do your home work")

Enter your age:  17

Come back after 1 years, as of now do your home work

In [4]:
List = [32, 31, 63, 75, 23, 674, 234]
counteven = 0
countodd = 0
for values in List:
    if values % 2 == 0:
        counteven += 1
    else:
        countodd += 1
print(f"There are {counteven} even numbers & {countodd} odd numbers")

There are 3 even numbers & 4 odd numbers

# Difference between list and tuple 

The main difference between lists and tuples in programming, particularly in Python, is their mutability.

* Lists are mutable, meaning you can change their contents (add, remove, or modify elements) after they are created. They are typically defined using square brackets ([]).

* Tuples are immutable, meaning you cannot change their contents once they are created. They are typically defined using parentheses (()).

# Sets 
A Set in Python is a collection of unique elements that is unordered and mutable.

Think of it like a bag of distinct items where the order you put them in doesn't matter, and duplicates are automatically thrown out.

## Key Features
* Unique Elements: Sets do not allow duplicate values. If you try to add a duplicate, it is ignored.

* Unordered: Items have no fixed position. You cannot access items using an index (e.g., myset[0] will raise an error).

* Mutable: You can add or remove items after the set is created.

* Syntax: Defined using curly braces {} or the set() function.

In [34]:
# Creating a set
fruits = {"apple", "banana", "orange"}
# Adding elements
fruits.add("grape")
print(fruits)
# Removing elements 
fruits.remove("banana")
print(fruits)

{'banana', 'orange', 'grape', 'apple'}
{'orange', 'grape', 'apple'}

# Dictionaries

A Dictionary in Python is a collection that stores data in key-value pairs.

* Key-Value Structure: Every item consists of a pair: Key: Value.

* Fast Lookup: Designed to retrieve data very quickly using the key.

* Mutable: You can add, remove, or change items after creation.

* Unique Keys: Keys must be unique (no duplicates allowed) and immutable (e.g., strings, numbers). Values can be anything.

In [9]:
full_name = "Rohit Gosavi"
print(full_name[3:10])
print(full_name[3:])
print(full_name[:9]) 

print(full_name[::2]) # Step size will skip 1 character

it Gosa
it Gosavi
Rohit Gos
RhtGsv

* indentation have 4 white spaces basically

* We have to typecast a string to convert it into an integer

In [10]:
score = int(input("Hey, Enter your score: ")) 
if score > 85:
    print("You will receive a new iphone 16 pro.")
else:
    print("No Phone")

Hey, Enter your score:  86

You will receive a new iphone 16 pro.

In [17]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age:  18

You are eligible to vote

In [21]:
score = int(input("Hey, Enter your score: ")) 
if score > 85:
    print("You will receive a new iphone 16 pro.")
elif score > 75:
    print("You will receive a new Samsung.")
elif score > 50:
    print("You will receive a new Oppo or Vivo.")
else:
    print("No Phone")

Hey, Enter your score:  49

No Phone

# Loop

a loop is a sequence of instructions that repeats itself until a specific condition is met.

There are 2 types of loop:

1. For loop - Use this when you know exactly how many times you want to repeat something.

3. While loop - Use this when you don't know how many times you need to repeat, but you know the condition for stopping.

* What is iterator : An iterator is an object that remembers its position in a sequence of data and delivers the next item whenever the loop asks for it.

In [3]:
name = "Praful"
for c in name: # here c is iterater.
    print(c)

P
r
a
f
u
l

In [1]:
name = "Praful"
for c in name[::-1]: # if we want to print name in reverse order
    print(c)

l
u
f
a
r
P

In [2]:
name = "Praful"
for c in name[::2]: # if we want to skip 2 characters
    print(c)

P
a
u

# Print all the even numbers from 1 to 151 

* range (1,151,1)

It follows the pattern: range(start, stop, step)

Start: Where the count begins.

Stop: Where the count ends, meaning it stops before this number i.e it will stop at 150 cuz we gave 151

Step: # we use stepsize to skip 1 value in sequence

In [27]:
for num in range(1,151):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150

In [5]:
# skip 1 value in sequence

for num in range(2,100,2): # we use step size to skip 1 value in sequence
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# Nested if condition

In [5]:
brand = input("Enter brand: ")
color = input("Enter color: ")
size = int(input("Enter your shoe size: "))

if brand == "Nike":
    if color == "Black":
        if size == 8:
            print("Take the pair")
        else:
            print("This is not the size i want")
    else:
        print("I want black only")
else:
    print("Do not check for color and size")

Enter brand:  Nike
Enter color:  Black
Enter your shoe size:  8

Take the pair

# Membership operator

In [7]:
lst = ["Ram", "Anjani", "Ravan", "Bali", "Ivan"]
for name in lst:
    if name[0] in "AEIOUaeiou":
        print(name)

Anjani
Ivan

In [24]:
lst = [7785354178, 8785434477, 9705414478, 9705434471, 9985457478, 9795414478, 9985154478, 9785354448, 978547478, 4755454478]
for l in lst:
    l = str(l)
    if l[:2] == "99":
        print(l)

9985457478
9985154478

# Logical operator 
# Below table is not, it's just for example


* AND
* OR
* NOT

Left operant | Right operant | Final output
---|---|---
+|	Addition|	15+7
-|	Subtraction|	15-7
*|	Multiplication|	5*7
**	|Exponential|	5**3
/|	Division	|5/3
%	|Modulus	|15%7
//	|Floor Division	|15//7

In [3]:
# Function : 

def sum_2(a, b):
    print(a+b)
    print("Hi Prajwal")
sum_2(2, 5)

7
Hi Prajwal

In [5]:
def sqr():
    a = int(input("Enter the value: "))
    print(a ** 2)
sqr()

Enter the value:  5

25

In [17]:
# Task : Create a fucntion which will caluclate average of a list

def avg(total, count):
    lst = [3, 4, 6, 7, 23]
    for average in lst:
        total += average
        count += 1
    print(total/count)
avg(0, 0)

8.6

In [18]:
def avg(lst):
    total = 0
    count = 0
    for lst_avg in lst:
        total += lst_avg
        count += 1
    print(total/count)
avg([3, 4, 6, 7, 23])

8.6

In [19]:
# Types of arguments